@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт для голосования</title>
</head>
<body>

    <div class="header">
        <div class="container-header">
            <a href="" class="back-arrow">&#8592;</a>
            <h1 class="title">Вход в аккаунт организатора</h1>
        </div>
    </div>

    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        <label>Логин: </label>
        <input name="Login" type="text" required>
        <label>Пароль: </label>
        <input name="Passsword" type="text" required>
        <input type="submit" value="Войти" />
    }

    <div class="footer">
        <p></p>
    </div>
</body>
</html>