@using WebApplication2.Models
@model IEnumerable<VotingEvent>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Сайт для голосования</title>
</head>
<body>

    <div class="header">
        <div class="container-header">
            <a href="login.html" class="back-arrow">&#8592;</a>


            <h1></h1>
            <!-- Белый квадрат с ссылкой -->
            <a href="profil.html" class="link-square"></a>
        </div>
    </div>


    <div class="container">
        <!-- Используем <a> для создания ссылки -->
        <a asp-controller="VotingEvents" asp-action="VotingEventCreate" class="square">
            <p>Создать новую конференцию</p>
        </a>
        @{
            foreach (var votingEvent in Model)
            {
                <a asp-controller="Teams" asp-action="TeamsList" class="square">
                    @votingEvent.Name
                </a>

            }
        }
    </div>

    <div class="footer">
        <p></p>
    </div>

</body>
</html>
