@model Project
@{
    Layout = null;
    //Model.VotingEventId = ViewBag.votingEventId;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт для голосования</title>
</head>
<body>

    <div class="header">
        <div class="container-header">
            <a href="../VotingEvents/VotingEventEdit?votingEventId=@ViewData["votingEventId"]" class="back-arrow">&#8592;</a>
            <h1 class="title">Создать новую команду</h1>
        </div>
    </div>

    <div class="container-cp">
        <form asp-action="TeamCreate" method="post">
            <input asp-for="VotingEventId" type="hidden" />
            <div class="form-group">
                <label for="title">Название проекта:</label>
                <input asp-for="Title" required>
                <span asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label for="description">Описание:</label>
                <input asp-for="Description" required>
                <span asp-validation-for="Description"></span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Эл. почта</th>
                    </tr>
                </thead>
                <tbody id="ParticipantList" data-count="0">
                    <tr id="element-0">
                        <td><input id="elementName" type="text" name="Users[0].Name" class="form-control" required /></td>
                        <td><input id="elementEmail" type="text" name="Users[0].Email" class="form-control" required /></td>
                        <td><button id="elementDelete" type="button" class="btn" onclick="DeleteRow(0)">X</button></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn" onclick="AddRow()" id="addRowButton" formnovalidate="formnovalidate">Добавить участника</button>
            <input type="submit" value="Создать команду" />
        </form>
    </div>

    <div class="footer">
        <p></p>
    </div>
</body>
</html>

<script src="@Url.Content("~/lib/jquery/dist/jquery.js")" type="text/javascript"></script>
<script>
    function AddRow() {
        var countVal = parseInt($('#ParticipantList').attr('data-count'));
        countVal += 1;
        var html = '';
        html += '<tr id="element-' + countVal + '">';
        html += '<td><input id="elementName" type="text" name="Users[' + countVal + '].Name" class="form-control" required/></td>';
        html += '<td><input id="elementEmail" type="text" name="Users[' + countVal + '].Email" class="form-control" required/></td>';
        html += '<td><button id="elementDelete" type="button" class="btn" onclick="DeleteRow(' + countVal + ')">X</button></td>';
        html += '</tr>';
        $('#ParticipantList').append(html);
        $('#ParticipantList').attr('data-count', countVal);
    }
    function DeleteRow(id) {
        var countVal = parseInt($('#ParticipantList').attr('data-count'));
        if (countVal != -1) {
            $('#element-' + id).remove();
            for (i = id + 1; i < countVal + 1; i++) {
                $('#element-' + i).find('#elementName').attr('name', 'Users[' + (i - 1) + '].Name');
                $('#element-' + i).find('#elementEmail').attr('name', 'Users[' + (i - 1) + '].Email');
                $('#element-' + i).find('#elementDelete').attr('onclick', 'DeleteRow(' + (i - 1) + ')');
                $('#element-' + i).attr('id', 'element-' + (i - 1));
            }
            $('#ParticipantList').attr('data-count', countVal - 1);
        }
    }
</script>