@model List<User>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт для голосования</title>
</head>
<body>
    <div class="header">
        <div class="container-header">
            <a href="../Viewers/ViewersView?votingEventId=@ViewData["votingEventId"]" class="back-arrow">&#8592;</a>
            <h1 class="title">Редактирование зрителей</h1>
        </div>
    </div>
    <div class="container-cp">
        @using (Html.BeginForm("ViewersUploadPost", "Viewers", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input name="votingEventId" value="@ViewData["votingEventId"]" type="hidden">
            <input name="uploadFile" type="file">
            <button type="submit" id="submitButton" name="buttonParams" value="">Загрузить файл</button>
        }
    </div>
</body>